absl-py=0.7.0=pypi_0
appnope=0.1.0=pypi_0
astor=0.7.1=pypi_0
backcall=0.1.0=py36_0
bleach=3.1.0=pypi_0
certifi=2019.11.28=py36_1
cloudpickle=0.8.0=pypi_0
colorama=0.4.3=py_0
cycler=0.10.0=pypi_0
dask=1.1.1=pypi_0
decorator=4.3.2=pypi_0
defusedxml=0.5.0=pypi_0
entrypoints=0.3=pypi_0
gast=0.2.2=pypi_0
graphviz=2.38.0=4
grpcio=1.18.0=pypi_0
h5py=2.9.0=pypi_0
ipykernel=5.1.0=pypi_0
ipython=7.3.0=pypi_0
ipython_genutils=0.2.0=py36_0
ipywidgets=7.4.2=pypi_0
jedi=0.13.2=pypi_0
jinja2=2.10=pypi_0
jsonschema=2.6.0=pypi_0
jupyter=1.0.0=pypi_0
jupyter-client=5.2.4=pypi_0
jupyter-console=6.0.0=pypi_0
jupyter-core=4.4.0=pypi_0
keras=2.2.4=pypi_0
keras-applications=1.0.7=pypi_0
keras-preprocessing=1.0.9=pypi_0
kiwisolver=1.0.1=pypi_0
libsodium=1.0.16=h9d3ae62_0
markdown=3.0.1=pypi_0
markupsafe=1.1.0=pypi_0
matplotlib=3.0.2=pypi_0
mistune=0.8.4=pypi_0
mock=4.0.2=pypi_0
music21=5.5.0=pypi_0
nbconvert=5.4.1=pypi_0
nbformat=4.4.0=pypi_0
networkx=2.2=pypi_0
notebook=5.7.4=pypi_0
numpy=1.16.1=pypi_0
pandas=0.24.2=pypi_0
pandocfilters=1.4.2=pypi_0
parso=0.3.4=pypi_0
pexpect=4.6.0=pypi_0
pickleshare=0.7.5=py36_0
pillow=5.4.1=pypi_0
pip=20.0.2=py36_1
prometheus-client=0.6.0=pypi_0
prompt-toolkit=2.0.9=pypi_0
protobuf=3.6.1=pypi_0
ptyprocess=0.6.0=pypi_0
pydot=1.4.1=pypi_0
pygments=2.3.1=pypi_0
pyparsing=2.3.1=pypi_0
python=3.6.10=h9f7ef89_0
python-dateutil=2.8.0=pypi_0
pytz=2018.9=pypi_0
pywavelets=1.0.1=pypi_0
pywin32=227=py36he774522_1
pywinpty=0.5.7=pypi_0
pyyaml=3.13=pypi_0
pyzmq=18.0.0=pypi_0
qtconsole=4.4.3=pypi_0
scikit-image=0.14.2=pypi_0
scipy=1.2.1=pypi_0
send2trash=1.5.0=pypi_0
setuptools=46.0.0=py36_0
six=1.12.0=pypi_0
sqlite=3.31.1=he774522_0
tensorboard=1.13.1=pypi_0
tensorflow=1.13.2=pypi_0
tensorflow-estimator=1.13.0=pypi_0
termcolor=1.1.0=pypi_0
terminado=0.8.1=pypi_0
testpath=0.4.2=pypi_0
toolz=0.9.0=pypi_0
tornado=5.1.1=pypi_0
traitlets=4.3.2=pypi_0
vc=14.1=h0510ff6_4
vs2015_runtime=14.16.27012=hf0eaf9b_1
wcwidth=0.1.7=pypi_0
webencodings=0.5.1=pypi_0
werkzeug=0.14.1=pypi_0
wheel=0.34.2=py36_0
widgetsnbextension=3.4.2=pypi_0
wincertstore=0.2=py36h7fe50ca_0
zeromq=4.3.1=h33f27b4_3
